<p>
  <b>Server location:</b>
  <%=h @inventory.Server_location %>
</p>

<p>
  <b>Server name:</b>
  <%=h @inventory.Server_name %>
</p>

<p>
  <b>Server type:</b>
  <%=h @inventory.Server_type %>
</p>

<p>
  <b>Os version:</b>
  <%=h @inventory.OS_version %>
</p>

<p>
  <b>Hardware type:</b>
  <%=h @inventory.Hardware_type %>
</p>

<p>
  <b>Model:</b>
  <%=h @inventory.Model %>
</p>

<p>
  <b>Cpu speed:</b>
  <%=h @inventory.CPU_speed %>
</p>

<p>
  <b>Number of cpus:</b>
  <%=h @inventory.Number_of_cpus %>
</p>

<p>
  <b>Installed ram:</b>
  <%=h @inventory.Installed_ram %>
</p>

<p>
  <b>Ip address:</b>
  <%=h @inventory.ip_address %>
</p>

<p>
  <b>Management ip:</b>
  <%=h @inventory.Management_ip %>
</p>

<p>
  <b>Rack location:</b>
  <%=h @inventory.Rack_Location %>
</p>

<p>
  <b>Note:</b>
  <%=h @inventory.Note %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
